[Desktop Entry]
Name=PyPE
GenericName=Python Programmers' Editor
Exec=pype
Icon=PYTHONPATH/pype/icons/pype.ico
Terminal=false
Type=Application
Categories=Development;
Encoding=UTF-8
